.BuzzwordList{
  border-radius: 25px;
  padding-top: 2rem;
  width: 80%;
  height: 80%;
  background: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.BuzzwordListDisplay{
  line-height: 1.6;
  padding-top: 1rem;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}